.container
  .row
    - 1..9.times do |i|
      = render 'tile_item', index: i
  .row
    .col-md-10
      .panel.panel-default
        .panel-body
          = react_component 'NavigationTabs', { navigation_tabs: @navigation_tabs }