<h1>Report#index</h1>

.container-fluid
  .row
    .col-xs-1
      &nbsp
    .col-md-10
      .panel.panel-default
        .panel-body
          = react_component 'NavigationTabs', { navigation_tabs: @navigation_tabs }
    .col-xs-1
      &nbsp