= form_tag search_path, { method: :post, remote: true } do
  .input-group.input-group-lg
    - if params[:q].present?
      .input-group-btn
        = link_to "X", articles_path, class: "btn btn-default"
    = text_field_tag :q, params[:q], class: "form-control", id: "article_search", autocomplete: "off"
    .input-group-btn
      = submit_tag :search, class: "btn btn-primary"
