.modal#analytic_report_modal{ title: 'New Analytic Report'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ 'aria-hidden' => "true", 'data-dismiss' => "modal", 'type' => "button"} ×
        %h4= 'New Analytic Report'
      .modal-body.a-unique-class
        - # New Report Body