- model_class = Article
.page-header
  %h1= t '.title', default: model_class.model_name.human.pluralize.titleize
  = link_to t('.new', default: t("helpers.links.new")), new_article_path, class: 'btn btn-primary'
  = link_to 'All Articles', articles_path if params[:q]

.container-fluid#articles-container
  .row
    = render 'articles_list'