.col-sm-4.col-xs-8
  .tile{ id: "tile##{tile_id}" }
    .carousel.slide{ data:{ ride: 'carousel' } }
      .carousel-inner
        .item.active
          %img.img-responsive{ src: "https://bluenotes.anz.com/metropolis-now/assets/images/article7/citylights.gif" }
        .item
          %img.img-responsive{ src: "https://media.giphy.com/media/f45816CTsKd7G/giphy.gif" }
        .item
          %img.img-responsive{ src: "https://media1.giphy.com/media/xT4uQF7h39mlsF5czK/200.gif" }
        .item
          %img.img-responsive{ src: "https://media2.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/200.gif" }
